<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="../static/javascript/medicine.js"></script>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title>Pet Adoption Predictor</title>
</head>
<body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">How cute is your kitty/doggy?</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Adoption predict ™️</a></li>

        </ul>
    </div>
</nav>
<br>

<div class="container">
    <div class="section">
        <div class="row">
            <form style="width:100%;text-align:center" enctype="multipart/form-data" action="/search" method="post">
                {% csrf_token %}

                <label><input name="selection" type="radio" value="byImage"
                              checked/><span>predicted by image </span></label>
                <span> &nbsp; </span>
                <label><input name="selection" type="radio" value="byValues"/><span>predicted by values</span></label>

                <br><br>

                <div align="center">
                    <a class="waves-effect waves-light btn">Image: &nbsp; <input type="file" name="myfile"/></a>
                </div>

                <br><br>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <br><br><br>

                <label>Type</label>
                <select name="petType" class="browser-default">
                    <option value="1">Dog</option>
                    <option value="2">Cat</option>
                </select>
                <br>


                <div class="input-field col s12" align="center">
                    <label>Age</label>
                    <input " type="text" name="age">
                </div>

                <div class="input-field col s6">
                    <label>Breed1, if applicable</label>
                    <input type="text" name="breed1">
                </div>

                <div class="input-field col s6">
                    <label>Breed2, if applicable</label>
                    <input type="text" name="breed2">
                </div>

                <div class="input-field col s6">
                    <label>Number of pets represented</label>
                    <input type="text" name="quantity">
                </div>

                <div class="input-field col s6">
                    <label>Adoption fee, 0 for free</label>
                    <input type="text" name="fee">
                </div>


                <div class="input-field col s6">
                    <label>Video Amount</label>
                    <input type="text" name="videoAmt">
                </div>

                <div class="input-field col s6">
                    <label>Photo Amount</label>
                    <input type="text" name="photoAmt">
                </div>


                <label>Gender</label> <br>
                <select name="gender" class="browser-default">
                    <option value="1">Male</option>
                    <option value="2">Femele</option>
                    <option value="3">Mixed</option>
                </select><br>

                <label>The major color of your pet</label> <br>
                <select name="color1" class="browser-default">
                    <option value="1">Black</option>
                    <option value="2">Brown</option>
                    <option value="3">Golden</option>
                    <option value="4">Yellow</option>
                    <option value="5">Cream</option>
                    <option value="6">Gray</option>
                    <option value="7">White</option>
                </select><br>

                <label>Color2, if applicable</label> <br>
                <select name="color2" class="browser-default">
                    <option value="0" selected>Not applicable</option>
                    <option value="1">Black</option>
                    <option value="2">Brown</option>
                    <option value="3">Golden</option>
                    <option value="4">Yellow</option>
                    <option value="5">Cream</option>
                    <option value="6">Gray</option>
                    <option value="7">White</option>
                </select><br>


                <label>Color3, if applicable</label> <br>
                <select name="color3" class="browser-default">
                    <option value="0" selected>Not applicable</option>
                    <option value="1">Black</option>
                    <option value="2">Brown</option>
                    <option value="3">Golden</option>
                    <option value="4">Yellow</option>
                    <option value="5">Cream</option>
                    <option value="6">Gray</option>
                    <option value="7">White</option>
                </select><br>

                <label>Maturity Size</label> <br>
                <select name="maturitySize" class="browser-default">
                    <option value="0" selected>Not Specified</option>
                    <option value="1">Small</option>
                    <option value="2">Medium</option>
                    <option value="3">Large</option>
                    <option value="4">Extra Large</option>
                </select><br>

                <label>Fur Length</label> <br>
                <select name="furLength" class="browser-default">
                    <option value="0" selected>Not Specified</option>
                    <option value="1">Short</option>
                    <option value="2">Medium</option>
                    <option value="3">Long</option>
                </select><br>


                <label>Vaccinated</label> <br>
                <select name="vaccinated" class="browser-default">
                    <option value="0" selected>Not Sure</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select><br>

                <label>Dewormed</label> <br>
                <select name="dewormed" class="browser-default">
                    <option value="0" selected>Not Sure</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select><br>


                <label>Sterilized</label> <br>
                <select name="sterilized" class="browser-default">
                    <option value="0" selected>Not Sure</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                </select><br>

                <label>Health Condition</label> <br>
                <select name="health" class="browser-default">
                    <option value="0" selected>Not Specified</option>
                    <option value="1">Healthy</option>
                    <option value="2">Minor Injury</option>
                    <option value="3">Serious Injury</option>
                </select><br>

                <label>State location in Malaysia</label> <br>
                <select name="state" class="browser-default">
                    <option value="41336">Johor</option>
                    <option value="41325">Kedah</option>
                    <option value="41367">Kelantan</option>
                    <option value="41401">Kuala Lumpur</option>
                    <option value="41415">Labuan</option>
                    <option value="41324">Melaka</option>
                    <option value="41332">Negeri Sembilan</option>
                    <option value="41335">Pahang</option>
                    <option value="41330">Perak</option>
                    <option value="41380">Perlis</option>
                    <option value="41327">Pulau Pinang</option>
                    <option value="41345">Sabah</option>
                    <option value="41342">Sarawak</option>
                    <option value="41326">Selangor</option>
                    <option value="41361">Terengganu</option>
                </select>

                <br><br>


                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>

            </form>
        </div>
    </div>
</div>

</body>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Thanks for you visit</h5>
                <p class="grey-text text-lighten-4">Pet Adoption Speed Prediction Based on Image and Text.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2019 Copyright Comp7305 Cluster and Cloud Computing Group 17
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</html>