<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/favicon.ico"/>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title>Drunk Driving</title>
</head>
<body>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<nav>
    <div class="nav-wrapper teal accent-3">
        <a href="#" class="brand-logo center">Drunk Driving</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#">Drunk Driving ™️</a></li>

        </ul>
    </div>
</nav>
<br>

<div class="container">
    <div class="section">
        <div class="row">
            <form style="width:100%;text-align:center" enctype="multipart/form-data" action="/search" method="post">
                {% csrf_token %}

                <label><input name="selection" type="radio" value="byImage"
                              checked/><span>predicted by image (Drunk) </span></label>
                <span> &nbsp; </span>
                <label><input name="selection" type="radio"
                              value="byVideo"/><span>predicted by video (YOLO)</span></label>

                <br><br>

                <div align="center">
                    <a class="waves-effect waves-light btn">Image: &nbsp; <input type="file" name="myfile"/></a>
                </div>

                <br><br>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
                <br><br><br>


                <br><br>

          <!--      <label><a>Video</a></label>

                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>-->

            </form>

           <!-- <div class="col s6">
                <div class="card">
                    <div class="card-content center-align">

                        <video id="video" width="640" height="480" autoplay></video>
                        <button id="snap">Snap Photo</button>
                        <canvas id="canvas" width="640" height="480"></canvas>
                    </div>
                </div>
            </div>-->


        </div>
    </div>
</div>

</body>

<script type="text/javascript">
    // Grab elements, create settings, etc.
    var video = document.getElementById('video');

    // Get access to the camera!
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        // Not adding `{ audio: true }` since we only want video now
        navigator.mediaDevices.getUserMedia({video: true}).then(function (stream) {
            //video.src = window.URL.createObjectURL(stream);
            video.srcObject = stream;
            video.play();
        });
    }

    // Elements for taking the snapshot
    var canvas = document.getElementById('canvas');
    var context = canvas.getContext('2d');
    var video = document.getElementById('video');

    // Trigger photo take
    document.getElementById("snap").addEventListener("click", function () {
        context.drawImage(video, 0, 0, 640, 480);
    });

</script>

<footer class="page-footer teal darken-1">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Thanks for you visit</h5>
                <p class="grey-text text-lighten-4">Drunk Driving.</p>
            </div>
            <div class="col l4 offset-l2 s12">
            </div>
        </div>
    </div>
    <div class="footer-copyright teal darken-2">
        <div class="container">
            © 2019 Copyright MSc HKU
        </div>
    </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

</html>